* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}


.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*NAGŁÓWEK*/

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/work-5801876_1920.jpg");
    background-size: cover;
    background-position: 70% 50%;
    background-attachment: fixed;
}

.hamburger {
    position: absolute;
    z-index: 2;
    height: 4vh;
    width: 4vh;
    right: 5vh;
    top: 5vh;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 3vh;
    transition: 1s linear;
}

.fas {
    display: none;
}

.show {
    display: block;
}

.main-nav {
    position: relative;
    top: -25vh;
    z-index: 1;
    width: 100%;
    height: 6vh;
    transition: 0.3s linear;
}

.main-nav.show {
    top: 0;
    left: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 4vh;
    text-shadow: black 2px 1px;
    text-align: center;
    color: white;
    padding: 1vh;
    transition: 0.2s;
}

.nav-links li a:hover {
    color: black;
    cursor: pointer;
}

.header-text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
}

h1 {
    font-weight: bold;
    font-size: 7vh;
    margin: 0 auto;
    text-align: center;
    text-shadow: black 2px 2px;
    animation: show 1s linear;
}

h2 {
    font-size: 4vh;
    text-align: center;
    text-shadow: black 2px 2px;
}

@media (min-width:500px) {
    h1 {
        font-size: 7vh;
    }

    h2 {
        font-size: 5.5vh;
    }

    .hamburger {
        width: 8vh;
        height: 8vh;
        font-size: 7vh;
    }
}

@media (min-width:800px) {
    .main-nav {
        top: 0;
        left: 0;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        flex-basis: 25%;
        padding: 2vh 1vh;
    }

    .nav-links li a {
        font-size: 3vh;
        line-height: 3vh;
    }
}

/*O MNIE*/

h3 {
    font-size: 5vh;
    text-align: center;
    padding: 3vh;
    color: white;
    text-transform: uppercase;
}

.container-about {
    text-align: center;
    background-color: #424242;
    padding: 3vh;
}

.img-about {
    text-align: center;
}

.img-about img {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

.about-text {
    width: 80%;
    padding: 2vh 1vh;
    font-size: 3vh;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 4vh;
    color: white;
    text-align: center;
}

@media(min-width: 500px) {
    h3 {
        font-size: 6vh;
    }

    .img-about img {
        height: 30vh;
        width: 30vh;
    }

    .about-text {
        font-size: 3vh;
        line-height: 5vh;
        padding-bottom: 6vh;
        text-align: center;
    }
}

/*UMIEJĘTNOŚCI*/
.container-skills {
    background-color: #222222;
    padding: 3vh;
}

.skill {
    padding: 3vh;
    animation: skill 3s;
}

.img-skills {
    height: 20vh;
    width: 20vh;
    margin: 0 auto;
}

.img-skills img {
    width: 80%;
    height: 100%;
}

@media (min-width:500px) {
    .skills {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
    }

    .img-skills {
        height: 15vh;
        width: 15vh;
    }
}

/*PROJEKTY*/

.container-projects {
    padding-bottom: 5vh;
    background-color: #181A1B;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.project1,
.project2,
.project3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5vh;
    margin: 2vh auto;
    transition: 0.3s;
    border-radius: 20px;
    border: white solid 2px;
}

.project1 {
    background-image: url("../images/work-5801876_1920.jpg");
}

.project2 {
    background-image: url("../images/p1aoi17jeq10m96oj13qj14f7ohli-f1afec.jpg");
    background-position: center;
}

.project3 {
    background-image: url("../images/hotelImg.PNG");
}

.project-title {
    font-size: 4vh;
    color: white;
    font-weight: 700;
}

.projects-text {
    font-size: 3vh;
    color: white;
    text-align: center;
}

.projects-btn {
    background-color: black;
    font-size: 2vh;
    padding: 1vh;
    border: black solid;
    border-radius: 20%;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

@media(min-width:500px) {
    .projects {
        flex-direction: row;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        flex-wrap: wrap;
    }

    .project1,
    .project2,
    .project3 {
        height: 50vh;
        width: 70vh;
    }

    .projects-btn {
        font-size: 3vh;
    }

    .project-title {
        font-size: 5vh;
    }

    .projects-text {
        font-size: 4vh;
    }
}


@media(min-width:800px) {

    .project1,
    .project2,
    .project3 {
        height: 50vh;
        width: 70vh;
    }

    .projects-text {
        display: none;
    }

    .projects-btn {
        display: none;
    }

    .project1:hover,
    .project2:hover,
    .project3:hover {
        opacity: 1;
        transform: scale(1.1);
    }

    .projects-btn:hover {
        background-color: transparent;
    }

    .project1:hover .projects-btn {
        display: block;
    }

    .project1:hover .projects-text {
        display: block;
    }

    .project2:hover .projects-btn {
        display: block;
    }

    .project2:hover .projects-text {
        display: block;
    }

    .project3:hover .projects-btn {
        display: block;
    }

    .project3:hover .projects-text {
        display: block;
    }
}

/*KONTAKT*/

.contact {
    background-color: black;
    padding: 5vh;
    text-align: center;
    color: white;
}

.contact input,
.contact button,
.contact textarea {
    width: 80%;
    margin: 2vh;
    background-color: white;
    padding: 1vh;
}

.contact input {
    height: 5vh;
}

.contact textarea {
    height: 15vh;
}

.contact button {
    height: 6vh;
    background-color: black;
    text-transform: uppercase;
    color: white;
}

.contact .socials {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact .social {
    display: flex;
    flex-direction: column;
    font-size: 2vh;

}

.contact .social img {
    padding: 2vh 8vh;
    width: 28vh;
    width: 28vh;
    margin: 0 auto;
}

@media(min-width:500px) {
    .contact .social {
        font-size: 3vh;
    }

    .contact input,
    .contact button,
    .contact textarea {
        width: 60%;

    }
}

@media(min-width:800px) {
    .container-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/*STOPKA*/

footer {
    background-color: white;
    text-align: center;
    padding: 1vh;
    font-size: 2vh;
}

@media(min-width:500px) {
    footer {
        font-size: 3.5vh;
    }
}

@media(min-width:800px) {
    footer {
        font-size: 2vh;
    }
}



/*ANIMATIONS*/
@keyframes show {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 7vh;
    }
}

@keyframes skill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}